.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 100px;
}
a {
    color: yellow;
}

div {
    background-color: green;
}